
\{{#each attribute}}

	<div class="message message_vinci">
	  <img class="vinci-logo" src="assets/build/assets/images/vinci-mes.svg" alt="">
	  <div class="message__item message__item_vinci br-chat">
	    <p>\{{this.content_text}}</p>
	  </div>
	</div> 
\{{/each}}