<div class="message message_vinci">
  <img class="vinci-logo" src="assets/build/assets/images/vinci-mes.svg" alt="">
  <div class="message__item message__item_vinci br-chat">
    <p>Sorry. There seems to be an error at my end. Please try another request!</p>
  </div>
</div> 
