
	<div class="message message_vinci">
        <ul class="suggestion">
        \{{#each suggested_questions}}	
          <li class="suggestion__item br-chat" onclick="send_question(event)">\{{this.displayText}}</li>
      	\{{/each}}
        </ul>
	</div> 
