
	<div class="message message_vinci">
		<div class="owl-carousel owl-theme trending">
			\{{#each suggested_questions}}
			<div class="trending-question" onclick="send_question(event)">
				<span>\{{this.displayText}}</span>
			</div>
			\{{/each}}
		</div>
	</div>


