
	<div class="message message_vinci">
		<div>

			<ul class=" suggestion owl-carousel owl-theme">
				\{{#each suggested_questions}}
				<li class="suggestion__item br-chat" id="demo-yes" onclick="send_question(event)">
					\{{this.displayText}}
				</li>
				\{{/each}}
			</ul>		

		</div>
		
	</div>


