<!-- Default layout of the handlebars template -->

<!DOCTYPE html>
<html lang="en-US">
	
	<head>
	    {{>header}}
	</head>

	<body>
	    {{>navigation}}
	    {{{body}}}
	   
	</body>

	<!-- JS Libraries
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	{{!-- js --}}
	<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
	{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script> --}}
	<script src="/assets/build/js/main.js"></script>

    <!-- JS Libraries end --> 

</html>
 
