<!-- Default layout of the handlebars template -->

<!DOCTYPE html>
<html lang="en-US">
	
	<head>
	    {{>header_admin}}
	</head>

	<body>
	    {{>navigation_admin}}
	    {{{body}}}
	    {{>footer_admin}}
	</body>

	<!-- JS Libraries
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- JS Libraries end --> 

</html>
 
