<div class="speaking speaking__overlay" style="display:none; height: 200%;" id="speech_overlay">
	<!--speaking__status_ready, speaking__status_listen, speaking__status_analyzing-->
	<button class="speaking__close"><i class="ion-ios-close-outline"></i></button>
	<div class="speaking__status speaking__status_ready">
		<div class="microphone">
			<img class="microphone__image microphone__image_default" src="assets/build/assets/images/microphone_grey.svg"
					 alt="">
			<img class="microphone__image microphone__image_active" src="assets/build/assets/images/microphone_blue.svg"
					 alt="">
		</div>
		<div class="speaking__description" id="speech_overlay_text">
			<h3>I am ready!</h3>
			<h4>Please speak :)</h4>
		</div>
	</div>
</div>


<div class="header header__chat">
	<div class="container">
		<div class="row justify-content-between">
			<div class="header__logo">
				<a href="/">
					<img src="assets/build/assets/images/logo.svg" alt="Logotype">
				</a>
			</div>
			<div class="header__links">
				<a href="/" class="header__btn header__btn_mobile-home button button_white">
					<div class="header__btn_icon header__btn_icon-home"></div>
					<span class="header__btn_label">Home</span>
				</a>
				<div class="header__links_right header__btn_mobile-language">
					<div class="language header__btn button button_white selection selection_list">
						<h5 class="selection__name selection__name_current selection__padding">
							<span class="selection__name">English</span>
						</h5>
						<ul class="selection__list selection__list_hidden">
							<li class="selection__item">
								<span class="selection__name">English</span>
							</li>
							<li class="selection__item">
								<span class="selection__name">Hindi</span>
							</li>
							<li class="selection__item">
								<span class="selection__name">Gujarati</span>
							</li>
							<li class="selection__item">
								<span class="selection__name">Kannada</span>
							</li>
							<li class="selection__item">
								<span class="selection__name">Bengali</span>
							</li>
						</ul>
					</div>
					<a href="/explainer_video" class="header__btn header__btn_mobile-hide button button_white">
						<div class="header__btn_icon header__btn_icon-works"></div>
						<span class="header__btn_label">Explainer video</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper-page">
	<div class="row">
		<div class="col-md-9">
			<div class="wrapper-chat">
				<div class="chat">
					<div class="chat__content scrollable-container">
						<div class="chat__messages">
						</div>
					</div>
					<div class="chat__bottom">
						<div class="chat__container">
							<div class="helpers">
								<!--<button class="btn helpers__close">Close</button>
                          <div class="helpers__nav">
                              <a class="helpers__arrow helpers__arrow_prev"></a>
                              <a class="helpers__arrow helpers__arrow_next"></a>
                          </div>-->
								<ul class="helpers__list">
									<li class="helpers__item">Show me iPhone X</li>
									<li class="helpers__item">Show me iPhone 6</li>
									<li class="helpers__item">Compare iPhone 6S & iPhone 7</li>
									<li class="helpers__item">Show me iPhone X</li>
									<li class="helpers__item">Show me iPhone X</li>
									<li class="helpers__item">Show me iPhone 6</li>
									<li class="helpers__item">Show me iPhone 6</li>
									<li class="helpers__item">Compare iPhone 6S & iPhone 7</li>
									<li class="helpers__item">Show me iPhone 6</li>
									<li class="helpers__item">Compare iPhone 6S & iPhone 7</li>
									<li class="helpers__item">Show me iPhone X</li>
									<li class="helpers__item">Show me iPhone X</li>
									<li class="helpers__item">Compare iPhone 6S & iPhone 7</li>
									<li class="helpers__item">Show me iPhone X</li>
								</ul>
							</div>
							<div class="send">
								<input class="send__input" placeholder="Type your message or tap the 'Speak to Vinci' button">
								<button class="btn send__btn" type="submit" id="send_chat">Send</button>
								<button class="btn send__btn send__btn_speak" onclick="start_speech()">
									<img src="assets/build/assets/images/microphone_white.svg" alt="">
									Talk to Vinci
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-boxes">
				<div class="info-box info-box__news">
					<div class="info-box__header"><span>Latest News</span></div>
					<ul class="info-box__list">
						<li class="info-box__item">
							<a class="info-box__news-title" href="">Some title of news</a>
							<div class="info-box__text-box">
								<p class="info-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
							</div>
						</li>
						<li class="info-box__item">
							<a class="info-box__news-title" href="">Some title of news</a>
							<div class="info-box__text-box">
								<p class="info-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="boxes-carousel owl-them">
					<div class="info-box info-box__slide">
						<div class="info-box__header"><span>Expert Pick Mobiles</span></div>
						<ul class="info-box__list">
							<li class="info-box__item">
								<div class="row align-items-center">
									<div class="info-box__image col-2">
										<img src="assets/build/assets/images/iphone6_min.svg" alt="">
									</div>
									<div class="info-box__description col-10">
										<a class="info-box__link" href="#">iPnone 6</a>
										<div class="info-box__rs">
											<span>Ps.11890</span>
											<span class="info-box__rs_old">Ps.16900</span>
										</div>
									</div>
								</div>
							</li>
							<li class="info-box__item">
								<div class="row align-items-center">
									<div class="info-box__image col-2">
										<img src="assets/build/assets/images/iphone6_min.svg" alt="">
									</div>
									<div class="info-box__description col-10">
										<a class="info-box__link" href="#">iPnone 6</a>
										<div class="info-box__rs">
											<span>Ps.11890</span>
											<span class="info-box__rs_old">Ps.16900</span>
										</div>
									</div>
								</div>
							</li>
							<li class="info-box__item">
								<div class="row align-items-center">
									<div class="info-box__image col-2">
										<img src="assets/build/assets/images/iphone6_min.svg" alt="">
									</div>
									<div class="info-box__description col-10">
										<a class="info-box__link" href="#">iPnone 6</a>
										<div class="info-box__rs">
											<span>Ps.11890</span>
											<span class="info-box__rs_old">Ps.16900</span>
										</div>
									</div>
								</div>
							</li>
							<li class="info-box__item">
								<div class="row align-items-center">
									<div class="info-box__image col-2">
										<img src="assets/build/assets/images/iphone6_min.svg" alt="">
									</div>
									<div class="info-box__description col-10">
										<a class="info-box__link" href="#">iPnone 6</a>
										<div class="info-box__rs">
											<span>Ps.11890</span>
											<span class="info-box__rs_old">Ps.16900</span>
										</div>
									</div>
								</div>
							</li>
							<li class="info-box__item">
								<div class="row align-items-center">
									<div class="info-box__image col-2">
										<img src="assets/build/assets/images/iphone6_min.svg" alt="">
									</div>
									<div class="info-box__description col-10">
										<a class="info-box__link" href="#">iPnone 6</a>
										<div class="info-box__rs">
											<span>Ps.11890</span>
											<span class="info-box__rs_old">Ps.16900</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="info-box info-box__slide">
						<div class="info-box__header"><span>Phones with fingerprint scanner</span></div>
						<ul class="info-box__list">
							<li class="info-box__item">
							<div class="row align-items-center">
								<div class="info-box__image col-2">
									<img src="assets/build/assets/images/iphone6_min.svg" alt="">
								</div>
								<div class="info-box__description col-10">
									<a class="info-box__link" href="#">iPnone 6</a>
									<div class="info-box__rs">
										<span>Ps.11890</span>
										<span class="info-box__rs_old">Ps.16900</span>
									</div>
								</div>
							</div>
						</li>
							<li class="info-box__item">
								<div class="row align-items-center">
									<div class="info-box__image col-2">
										<img src="assets/build/assets/images/iphone6_min.svg" alt="">
									</div>
									<div class="info-box__description col-10">
										<a class="info-box__link" href="#">iPnone 6</a>
										<div class="info-box__rs">
											<span>Ps.11890</span>
											<span class="info-box__rs_old">Ps.16900</span>
										</div>
									</div>
								</div>
							</li>
							<li class="info-box__item">
								<div class="row align-items-center">
									<div class="info-box__image col-2">
										<img src="assets/build/assets/images/iphone6_min.svg" alt="">
									</div>
									<div class="info-box__description col-10">
										<a class="info-box__link" href="#">iPnone 6</a>
										<div class="info-box__rs">
											<span>Ps.11890</span>
											<span class="info-box__rs_old">Ps.16900</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Handlebars template for the phone special chat element -->
<script id="handlebars-case-100" type="text/x-handlebars-template">
	{{>specifications}}
</script>

<script id="handlebars-case-200" type="text/x-handlebars-template">
	{{>comparison}}
</script>

<script id="handlebars-case-120" type="text/x-handlebars-template">
	{{>youtube_video}}
</script>

<script id="handlebars-case-104" type="text/x-handlebars-template">
	{{>attributes}}
</script>

<script id="attributes-text-reply" type="text/x-handlebars-template">
	{{>attributes_text_reply}}
</script>

<script id="handlebars-case-error" type="text/x-handlebars-template">
	{{>error_item}}
</script>

<script id="handlebars-case-1" type="text/x-handlebars-template">
	{{>normal_text_reply}}
</script>

<script id="handlebars-suggested-questions" type="text/x-handlebars-template">
	{{>suggested_questions}}
</script>

<script type="text/javascript">

	document.addEventListener('DOMContentLoaded', function () {
		//userAvatar
		var vinciAvatar = '/assets/build/assets/images/vinci-mes.svg';

		var text_reply = "Hello. Great to have you here!";

		$('.chat__messages')
				.append(`<div class="message message_vinci">
	    <img class="vinci-logo" src="${vinciAvatar}" alt="">
	    	<div class="message__item message__item_vinci br-chat" style="width: fit-content;">
	      		<p>${text_reply}</p>
			</div>
	  	</div>`);

		$('.chat__messages').scrollTop($('.chat__messages')[0].scrollHeight);

		var text_reply = "Let's get started!";

		$('.chat__messages')
				.append(`<div class="message message_vinci">
	    <img class="vinci-logo" src="${vinciAvatar}" alt="">
	    	<div class="message__item message__item_vinci br-chat" style="width: fit-content;">
	      		<p>${text_reply}</p>
			</div>
			<ul class="suggestion">
				<li class="suggestion__item br-chat" id="demo-yes" onclick="send_question(event)">Show me iPhone 8</li>
				<li class="suggestion__item br-chat" id="demo-no" onclick="send_question(event)">Show me Samsung Galaxy S8</li>
				<li class="suggestion__item br-chat" id="demo-no" onclick="send_question(event)">Compare iPhone 8 and Samsung Galaxy S8</li>
				<li class="suggestion__item br-chat" id="demo-no" onclick="send_question(event)">Suggest a phone with 4gb ram</li>
				<li class="suggestion__item br-chat" id="demo-no" onclick="send_question(event)">Phones with bezel less display</li>
			</ul>
	  	</div>`);

		$('.chat__messages').scrollTop($('.chat__messages')[0].scrollHeight);


	}, false);


</script>
