<div class="preloader">
	<div class="preloader__logo">
		<img src="assets/build/assets/images/logo.svg" alt="">
	</div>
</div>

<div class="wrapper-index">
    <div class="wrapper">
        <div class="wrapper__container">
            <div class="header">
                <div class="container-fluid">
                    <div class="row justify-content-between">
                        <div class="header__logo">
                            <a href="/">
                                <img src="assets/build/assets/images/logo.svg" alt="Logotype">
                            </a>
                        </div>
                        <div class="header__links">
                            <a href="/" class="header__btn header__btn_mobile-home button button_white wow fadeInDown"
                               data-wow-duration="1.5s" data-wow-delay="1.5s">
                                <div class="header__btn_icon header__btn_icon-home"></div>
                                <span class="header__btn_label">Home</span>
                            </a>
                            <div class="header__btn_mobile-language">
                                <div class="language header__btn button button_white selection selection_list wow fadeInDown"
                                     data-wow-duration="1.5s" data-wow-delay="1.5s">
                                    <h5 class="selection__name selection__name_current selection__padding">
                                        <span class="selection__name">English</span>
                                    </h5>
                                    <ul class="selection__list selection__list_hidden">
                                        <li class="selection__item">
                                            <span class="selection__name">English</span>
                                        </li>
                                    </ul>
                                </div>
                                <a href="/chat" class="header__btn header__btn_mobile-hide button button_white wow fadeInDown" data-wow-duration="1.5s"
                                   data-wow-delay="1.5s">
                                    <i class="icon-microphone"></i>
                                    <span class="header__btn_label">Talk to Vinci</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page ">
                <div class="text-container">
                    <h1 class="title__h1">Lorem ipsum dolor sit amet</h1>
                    <p class="main-text-format">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.</p>
                    <p class="main-text-format">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.</p>
                    <p class="main-text-format">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.</p>
                    <h2 class="title__h2">Lorem ipsum dolor sit amet, consectetur</h2>
                    <ul class="marker-list">
                        <li class="marker-list__item">Duis aute irure dolor in reprehenderit in voluptate velit</li>
                        <li class="marker-list__item">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</li>
                        <li class="marker-list__item">Ut enim ad minim veniam</li>
                        <li class="marker-list__item">Duis aute irure dolor in reprehenderit</li>
                    </ul>
                    <h2 class="title__h2">Lorem ipsum dolor</h2>
                    <p class="main-text-format">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.</p>
                    <p class="main-text-format">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.</p>
                </div>

            </div>

        </div>

    </div>




    <div class="footer">
        <div class="footer__head">
            <div class="footer__wrapper">
                <div class="row align-items-center">
                    <div class="col">
                        <ul class="footer_menu menu">
                            <li class="menu__item"><a href="/faqs" class="footer__link" target="_blank">Visitor Agreement</a></li>
                            <li class="menu__item"><a href="/privacy_policy" class="footer__link" target="_blank">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col text-center">
                        <a href="/" class="footer__logo">
                            <img src="assets/build/assets/images/logo_footer.svg" alt="">
                        </a>
                    </div>
                    <div class="col text-right">
                        <ul class="footer_menu menu">
                            <li class="menu__item"><a href="https://www.facebook.com/hellotovinci/" class="footer__link" target="_blank">Facebook</a></li>
                            <li class="menu__item"><a href="https://www.youtube.com/channel/UCeVtfLKXVs-U0LqbxBESYKw" class="footer__link" target="_blank">Youtube</a></li>
                            <li class="menu__item"><a href="https://www.linkedin.com/company/13589120/" class="footer__link" target="_blank">Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__contacts">
            <div class="footer__wrapper">
                <div class="row align-items-center">
                    <div class="col">
                        <span class="footer__address title-gl-12">Made with <i class="ion-heart"></i> in India</span>
                    </div>
                    <div class="col text-center">
                        <span class="footer__copyright title-gl-12">Copyright © Vinci 2017</span>
                    </div>
                    <div class="col text-right">
                        <h6 class="title-gl-12 footer__links">
                            <!-- Ph: <a class="title-gl-12" href='tel:+91 9911149933'>+91 1234567890</a> --> Email: <a class="title-gl-12" href='mailto:vinci@hellovinci.com'>vinci@hellovinci.com</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>