<div class="wrapper">
	<div class="wrapper__container">
		<div class="header">
			<div class="container-fluid">
				<div class="row justify-content-between">
					<div class="header__logo">
						<a href="/">
							<img src="assets/build/assets/images/logo.svg" alt="Logotype">
						</a>
					</div>
					<div class="header__links">
						<a href="/" class="header__btn button button_white">
							<div class="header__btn_icon header__btn_icon-home"></div>
							<span class="header__btn_label">Home</span>
						</a>
						<div>
							<div class="language header__btn button button_white selection selection_lang">
								<h5 class="selection__name selection__name_current selection__padding">
									<span class="selection__name">English</span>
								</h5>
								<ul class="selection__list selection__list_hidden">
									<li class="selection__item">
										<span class="selection__name">English</span>
									</li>
									<li class="selection__item">
										<span class="selection__name">Hindi</span>
									</li>
									<li class="selection__item">
										<span class="selection__name">Gujarati</span>
									</li>
									<li class="selection__item">
										<span class="selection__name">Kannada</span>
									</li>
									<li class="selection__item">
										<span class="selection__name">Bengali</span>
									</li>
								</ul>
							</div>
							<a href="/chat" class="header__btn button button_white">
								<i class="icon-microphone"></i>
								<span class="header__btn_label">Talk to Vinci</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page ">
			<div class="description description_browser">
				<div class="description__wrap wow fadeInDown">
					<h2 class="description__title">Start your conversation with Vinci</h2>
					<p class="description__text main-text">See the sample questions to understand more
						about striking a right conversation with VINCI</p>
					<a class="button button_white button_br-2 description__button show-8-X">Show me iPhone 8 and iPhone X</a>
					<a class="button button_white button_br-2 description__button">Show me the video review of One Plus 5</a>
					<a class="button button_white button_br-2 description__button">Suggest a phone similar to Oppo F1 Plus</a>
					<a class="button button_white button_br-2 description__button">Find out what all you can ask VINCI</a>
				</div>
			</div>
			<div class="browser">
				<img class="browser__page wow slideInRight" src="assets/build/assets/images/browser.svg" alt="">
				<img class="browser__ex_1" src="assets/build/assets/images/browser_ex_1.svg" alt="">
			</div>
			<div class="slide-nav">
				<a href="/explainer_video" class="prev">
					<img src="assets/build/assets/images/arrow-up.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="footer">
  <div class="footer__head">
    <div class="footer__wrapper">
      <div class="row align-items-center">
        <div class="col">
          <ul class="footer_menu menu">
            <li class="menu__item"><a href="/faqs" class="footer__link">FAQs</a></li>
            <li class="menu__item"><a href="/privacy_policy" class="footer__link">Privacy Policy</a></li>
            <li class="menu__item"><a href="/blog" class="footer__link">Blog</a></li>
          </ul>
        </div>
        <div class="col text-center">
          <a href="/" class="footer__logo">
            <img src="../assets/build/assets/images/logo_footer.svg" alt="">
          </a>
        </div>
        <div class="col text-right">
          <ul class="footer_menu menu">
            <li class="menu__item"><a href="https://www.facebook.com/hellotovinci/" class="footer__link">Facebook</a></li>
            <li class="menu__item"><a href="https://www.youtube.com/channel/UCeVtfLKXVs-U0LqbxBESYKw" class="footer__link">Youtube</a></li>
            <li class="menu__item"><a href="https://www.linkedin.com/in/ankurdhamija/" class="footer__link">Linkedin</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__contacts">
    <div class="footer__wrapper">
      <div class="row align-items-center">
        <div class="col">
          <span class="footer__address title-gl-12">Building 09, Gurgaon</span>
        </div>
        <div class="col text-center">
          <span class="footer__copyright title-gl-12">Copyright © Vinci 2017</span>
        </div>
        <div class="col text-right">
          <h6 class="title-gl-12 footer__links">
            Ph: <a class="title-gl-12" href='tel:+91 9911149933'>+91 9911149933</a> | <a class="title-gl-12" href='mailto:Team@hellovinci.com'>Team@hellovinci.com</a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>