<div class="preloader">
	<div class="preloader__logo">
		<img src="assets/build/assets/images/logo.svg" alt="">
	</div>
</div>

<div class="wrapper-index">
    <div class="wrapper">
        <div class="wrapper__container">
            <div class="header">
                <div class="container-fluid">
                    <div class="row justify-content-between">
                        <div class="header__logo">
                            <a href="/">
                                <img src="assets/build/assets/images/logo.svg" alt="Logotype">
                            </a>
                        </div>
                        <div class="header__links">
                            <a href="/" class="header__btn header__btn_mobile-home button button_white wow fadeInDown"
                               data-wow-duration="1.5s" data-wow-delay="1.5s">
                                <div class="header__btn_icon header__btn_icon-home"></div>
                                <span class="header__btn_label">Home</span>
                            </a>
                            <div class="header__btn_mobile-language">
                                <div class="language header__btn button button_white selection selection_list wow fadeInDown"
                                     data-wow-duration="1.5s" data-wow-delay="1.5s">
                                    <h5 class="selection__name selection__name_current selection__padding">
                                        <span class="selection__name">English</span>
                                    </h5>
                                    <ul class="selection__list selection__list_hidden">
                                        <li class="selection__item">
                                            <span class="selection__name">English</span>
                                        </li>
                                    </ul>
                                </div>
                                <a href="/chat" class="header__btn header__btn_mobile-hide button button_white wow fadeInDown" data-wow-duration="1.5s"
                                   data-wow-delay="1.5s">
                                    <i class="icon-microphone"></i>
                                    <span class="header__btn_label">Talk to Vinci</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page ">
                <div class="text-container">
                    <h1 class="title__h1" style="color: #e95351">Visitor Agreement</h1>

                    <p class="main-text-format">Welcome to hellovinci.com. The following are the rules ("Terms") that govern use of the hellovinci.com Web site ("Site"). By using, adding information, or visiting the Site, you expressly agree to be bound by these Terms and to follow these Terms and all applicable laws and regulations governing the Site. hellovinci.com ("hellovinci") reserves the right to change these Terms at any time, effective immediately upon posting on the Site.</p>

                    <h2 class="title__h2">Permitted use</h2>
                    <p class="main-text-format">You agree that you are only authorized to visit, view, and retain a copy of pages of this Site for your own personal use, and that you shall not duplicate, download, publish, modify, scrape, or otherwise distribute the material on this Site for any commercial use, or for any purpose other than as described in these Terms.</p>

                    <h2 class="title__h2">USE VOID WHERE PROHIBITED</h2>
                    <p class="main-text-format">Use of the Site is void where prohibited. By using this Site, you represent and warrant that you have the right, authority, and capacity to enter into this Agreement and to abide by all the Terms and Conditions of this Agreement.</p>

                    <h2 class="title__h2">Registering with hellovinci.com</h2>
                    <p class="main-text-format">In order to take advantage of certain features on the Site, you may be required to register with hellovinci. For example, you may be required to register with hellovinci if you want to set up a "My" account, where you can bookmark your favourite mobiles, have a record of your contributions in the form of reviews, ratings, blogs, feedback, get email alerts, etc. You may also be required to register with hellovinci if you are a business owner/dealer, or want to respond to certain comments by users, or participate in any contribution towards the Site. hellovinci's use of any personal information that you provide to hellovinci.com during any registration process is governed by hellovinci's privacy policy.</p>

                    <h2 class="title__h2">My Account</h2>
                    <p class="main-text-format">If you register for a "My" account, you will be allowed to save and personalize hellovinci content, receive, add, and view comments/reviews/ratings from existing and future features provided by the hellovinci system, and post ratings and reviews about Mobile phones, apps and other user reviews. By having a "My" account with hellovinci, you agree to take full responsibility for maintaining the confidentiality of your account user name, password, and all related activity that occurs under your account user name. If you violate these Terms, hellovinci may, at its sole discretion, terminate your accounts, remove or modify any account-related content or access or take any other action that hellovinci believes is appropriate.</p>

                    <h2 class="title__h2">Links and Search Results</h2>
                    <p class="main-text-format">The Site may automatically produce search results that reference or link to mobile phone offers across the world wide web. hellovinci has no control over these sites or the content within them. hellovinci cannot guarantee, represent, or warrant that the content contained in these sites is accurate, legal, and/or inoffensive. hellovinci does not endorse the content of any third-party site, nor do we warrant that it will not contain viruses or otherwise impact your computer. By using the Site to search for or link to another site, you agree and understand that you may not make any claim against hellovinci for any damages or losses, whatsoever, resulting from your use of the Site to obtain search results or to link to another site. hellovinci is an information website only. We show you the prices of mobile phones on different online stores. We do not know about the reliability and genuineness of each site and the products they are selling. All customers are advised to satisfy themselves of the same before purchasing. If you have a problem with a link from the Site, please notify us at vinci@hellovinci.com, and we will investigate your claim and take any actions we deem appropriate at our sole discretion.</p>


                    <h2 class="title__h2">Access and Interference</h2>
                    <p class="main-text-format">You agree that you will not use any robot, spider, other automatic device, or manual process to monitor or copy our Web pages or the content contained thereon or for any other unauthorized purpose without our prior expressed written permission. You agree that you will not use any device, software, or routine to interfere or attempt to interfere with the proper working of the Site. You agree that you will not copy, reproduce, alter, modify, create derivative works from, or publicly display any content (except for your own personal, non-commercial use) from our Web site without the prior expressed written permission of hellovinci.</p>


                    <h2 class="title__h2">Unauthorized Use of the Site</h2>
                    <p class="main-text-format">Illegal and/or unauthorized uses of the Site, including, but not limited to, unauthorized framing of or linking to the Site or unauthorized use of any robot, spider, or other automated device on the Site, will be investigated and subject to appropriate legal action, including, without limitation, civil, criminal, and injunctive redress.</p>

                    <h2 class="title__h2">Violation of the Terms</h2>
                    <p class="main-text-format">You agree that monetary damages may not provide a sufficient remedy to hellovinci for violations of these terms of use and you consent to injunctive or other equitable relief for such violations.</p>

                    <h2 class="title__h2">DISCLAIMERS</h2>
                    <p class="main-text-format">hellovinci DOES NOT PROMISE THAT THE SITE WILL BE INOFFENSIVE, ERROR-FREE OR UNINTERRUPTED, OR THAT IT WILL PROVIDE SPECIFIC RESULTS FROM USE OF THE SITE OR ANY CONTENT, SEARCH, OR LINK ON IT. THE SITE AND ITS CONTENT ARE DELIVERED ON AN "AS-IS" AND "AS-AVAILABLE" BASIS. hellovinci CANNOT ENSURE THAT FILES YOU DOWNLOAD FROM THE SITE WILL BE FREE OF VIRUSES OR CONTAMINATION OR DESTRUCTIVE FEATURES. hellovinci DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. hellovinci WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, INCIDENTAL, AND PUNITIVE AND CONSEQUENTIAL DAMAGES.</p>

                    <p class="main-text-format">
                    hellovinci disclaims any and all liability for the acts, omissions, and conduct of any third-party users, hellovinci users, advertisers, and/or sponsors on the Site, in connection with the Site, or otherwise related to your use of the Site. hellovinci is not responsible for the products, services, actions, or failure to act of any third party in connection with or referenced on the Site. Without limiting the foregoing, you may report the misconduct of users and/or third-party advertisers or service and/or product providers referenced on or included in the Site to hellovinci at vinci@hellovinci.com. hellovinci may investigate the claim and take appropriate action, at its sole discretion.</p>

                    <h2 class="title__h2">LIMITATION ON LIABILITY</h2>
                    <p class="main-text-format">EXCEPT IN JURISDICTIONS WHERE SUCH PROVISIONS ARE RESTRICTED, IN NO EVENT WILL hellovinci BE LIABLE TO YOU FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST PROFITS, EVEN IF hellovinci HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

                    <h2 class="title__h2">Disputes</h2>
                    <p class="main-text-format">If there is any dispute about or involving the Site, you, by using the Site, agree that the dispute will be governed by the laws of the Republic of India without regard to its conflict-of-law provisions. You agree to personal jurisdiction by and venue in New Delhi, India.</p>

                    <h2 class="title__h2">Indemnity</h2>
                    <p class="main-text-format">You agree to indemnify and hold hellovinci, its subsidiaries, affiliates, officers, agents, and other partners and employees harmless from any loss, liability, claim, or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your use of the Site, including your use of the Site to provide a link to another site or to upload content or other information to the Site.</p>

                </div>

            </div>

        </div>

    </div>




    <div class="footer">
        <div class="footer__head">
            <div class="footer__wrapper">
                <div class="row align-items-center">
                    <div class="col">
                        <ul class="footer_menu menu">
                            <li class="menu__item"><a href="/visitor_agreement" class="footer__link" target="_blank">Visitor Agreement</a></li>
                            <li class="menu__item"><a href="/privacy_policy" class="footer__link" target="_blank">Privacy Policy</a></li>
                            <li class="menu__item"><a href="/terms_and_conditions" class="footer__link" target="_blank">T&C</a></li>
                        </ul>
                    </div>
                    <div class="col text-center">
                        <a href="/" class="footer__logo">
                            <img src="assets/build/assets/images/logo_footer.svg" alt="">
                        </a>
                    </div>
                    <div class="col text-right">
                        <ul class="footer_menu menu">
                            <li class="menu__item"><a href="https://www.facebook.com/hellotovinci/" class="footer__link" target="_blank"><i class="ion-social-facebook"></i> Facebook</a></li>
                            <li class="menu__item"><a href="https://www.youtube.com/channel/UCeVtfLKXVs-U0LqbxBESYKw" class="footer__link" target="_blank"> <i class="ion-social-youtube"></i> Youtube</a></li>
                            <li class="menu__item"><a href="https://www.linkedin.com/company/13589120/" class="footer__link" target="_blank"><i class="ion-social-linkedin"></i> Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__contacts">
            <div class="footer__wrapper">
                <div class="row align-items-center">
                    <div class="col">
                        <span class="footer__address title-gl-12">Made with <i class="ion-heart"></i> in India</span>
                    </div>
                    <div class="col text-center">
                        <span class="footer__copyright title-gl-12">Copyright © Vinci 2017</span>
                    </div>
                    <div class="col text-right">
                        <h6 class="title-gl-12 footer__links">
                            <!-- Ph: <a class="title-gl-12" href='tel:+91 9911149933'>+91 1234567890</a> --> Email: <a class="title-gl-12" href='mailto:vinci@hellovinci.com'>vinci@hellovinci.com</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>