<div class="footer">
  <div class="footer__head">
    <div class="footer__wrapper">
      <div class="row align-items-center">
        <div class="col">
          <ul class="footer_menu menu">
            <li class="menu__item"><a href="" class="footer__link">How it Works</a></li>
            <li class="menu__item"><a href="" class="footer__link">About Us</a></li>
            <li class="menu__item"><a href="" class="footer__link">Blog</a></li>
          </ul>
        </div>
        <div class="col text-center">
          <a href="index.html" class="footer__logo">
            <img src="../assets/images/logo_footer.svg" alt="">
          </a>
        </div>
        <div class="col text-right">
          <ul class="footer_menu menu">
            <li class="menu__item"><a href="" class="footer__link">Facebook</a></li>
            <li class="menu__item"><a href="" class="footer__link">Youtube</a></li>
            <li class="menu__item"><a href="" class="footer__link">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__contacts">
    <div class="footer__wrapper">
      <div class="row align-items-center">
        <div class="col">
          <span class="footer__address title-gl-12">Building 09, Gurgaon</span>
        </div>
        <div class="col text-center">
          <span class="footer__copyright title-gl-12">Copyright © Vinci 2017</span>
        </div>
        <div class="col text-right">
          <h6 class="title-gl-12 footer__links">
            Ph: <a class="title-gl-12" href='tel:+91 9911149933'>+91 9911149933</a> | <a class="title-gl-12" href='mailto:Team@hellovinci.com'>Team@hellovinci.com</a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>