.category {
  width: 270px;
  padding: 10px 20px;
  &__image {
    margin-bottom: 20px;
    img{
      height: 250px;
    }
  }
  &__description{

  }
  &__type{
    font-size: 14px;
    color: #bababa;
  }
  &__name{
    font-size: 18px
  }
}