
.characteristic {
  &__company {
    color: #7a7a7b;
    font-size: rem(13);
    font-weight: 300;
  }
  &__text {
    padding: 0 12px;
    margin-bottom: 10px;
    @media (max-width: 767px) {
      padding: 0;
    }
  }
  &__model {
    color: #212121;
    font-size: rem(14);
    margin-bottom: 10px;
  }
  &__list {
    padding-left: 0;
    list-style: none;
    color: #7a7a7b;
    font-size: rem(13);
    margin-bottom: 0;
    font-weight: 300;
    li {
      margin-bottom: 5px;
    }

  }
  &__selection {
    margin-bottom: 15px;
    width: 100%;
    border: 2px solid #F6F7F9;
  }
  &__color {
    width: 20px;
    display: inline-block;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    &_gold {
      background-color: #D6BB9F;
    }
    &_black {
      background-color: #171717;
    }
    &_pink {
      background-color: #cb43d6;
    }
  }
  .selection__name_current {
    float: right;
    margin-right: 18px;
    @media (max-width: 767px) {
      margin-right: 33px;
    }
  }
  &__price {
    margin-bottom: 10px;
    font-size: rem(14);
    font-weight: 500;
    .price__rs {
      color: #B5B6BC;
    }
    &:hover {
      background: #fff;
    }
  }
  &__facebook-status{
    border-bottom: 1px solid #F4F5F9;
    border-top: 1px solid #F4F5F9;
    margin-bottom: 5px;
  }
}

.rating {
  @include clearfix;
  margin-bottom: 10px;
  &__value {
    color: #616161;
    font-size: rem(13);
    padding-left: 20px;
  }
  &__star {
    display: inline-block;
    position: relative;

    img {
      position: absolute;
      top: 2px;
      width: auto !important;
    }
  }
  &__view {
    color: #7a7a7b;
    display: inline-block;
    float: right;
    font-size: rem(13);
    &:hover {
      color: $blue;
    }
  }
}