.chat {
  padding-top: 55px;
  background-size: 100%;
  position: relative;
  border-radius: 8px;
  height: 99vh;
  width: 100%;
  &__container {
    //max-width: 1200px;
    position: relative;
    margin: auto;
    @media (max-width: 768px) {
      padding: 0 10px
    }
  }
  &__content {
    padding: 90px 0 105px;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
    @media (max-width: 768px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  &__messages {
    position: relative;
    padding: 18px 0;
    @include clearfix;
    @media (max-width: 768px) {
      padding: 70px 15px;
    }
  }
  &__bottom {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    background: #F7F7F7;
    border-radius: 0 0 8px 8px;
    width: 100%;
    padding: 20px 20px 40px;
    @media (max-width: 991px) {
      padding: 10px 10px 20px;
    }
    @media (max-width: 767px) {
      padding: 0;
    }
  }
  &__nav {
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    a {
      border-radius: 0;
      display: block;
      &.helpers__arrow {
        padding: 20px 10px;
        &:after {
          padding: 10.5px 16px;
          border: 1px solid #F7F7F7;
          border-radius: 50%;
        }
      }
      &:first-child {
        border-bottom: 1px solid #FBFBFB;
      }
    }
  }
}