.helpers {
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  display: none;
  transition: .4s;
  position:relative;
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 11px 13px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -11px;
    left: 24px;
  }
  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 14px 0;
    border-color: #e6e7e6 transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -14px;
    left: 25px;
  }
  @media (max-width: 767px) {
    display: none;
  }
  .btn {
    font-weight: 300;
  }
  &__close {
    display: inline-block;
    background: #E85353;
    color: #fff;
    font-size: rem(12);
    border-radius: 35px;
    padding: 12px 60px;
    @include box-shadow;
    margin-right: 10px;
  }
  &__nav {
    display: inline-block;
  }
  &__arrow {
    display: inline-block;
    background: #fff;
    padding: 9.5px 17px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    @include box-shadow;
    &_prev {
      &:after {
        content: url($path-to-images + "arrow_prev_dark.svg");
      }
    }
    &_next {
      &:after {
        content: url($path-to-images + "arrow_next_dark.svg");
      }
    }
  }
  &__list {
    padding-left: 15px;
    display: inline-block;
    padding-top: 20px;
    margin-bottom: 0;
    background: #fcfdfd;
    border-radius: 10px;
  }
  &__item {
    display: inline-block;
    border: 2px solid #F6F7F9;
    font-size: rem(12);
    border-radius: 35px;
    padding: 12px 20px;
    background: #fff;
    color: #e85352;
    cursor: pointer;
    transition: .4s;
    @include box-shadow;
    margin-bottom: 15px;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      transition: .4s;
      background: #e85352;
      color: #fff;
    }
    @media (max-width: 768px) {
      padding:12px 12px;
      font-size: rem(10);
      margin-bottom: 10px;
      &:not(:last-child) {
        margin-right: 3px;
      }
    }
  }

}