.info-boxes {
  padding-top: 105px;
  position: relative;
  width: 270px;
  @media (max-width: 1225px) {
    width: 211px;
  }
  @media (max-width: 991px) {
    display: none;
  }
}

.boxes-carousel {
  display: block;
  margin-bottom: 20px;
  position: relative;
  .nav-carousel {
    width: 100%;
    top: 45%;
    & > div {
      cursor: pointer;
      font-size: 0;
      width: 33px;
      height: 33px;
      z-index: 8;
      position: absolute;
      //border: 1px solid #F4F5F9;
      padding: 5px;
      &.h {
        left: -16px;
        background: url($path-to-images + 'arrow_prev_dark.svg') no-repeat center;
        background-size: 11px;
      }
      &.e {
        right: -16px;
        background: url($path-to-images + 'arrow_next_dark.svg') no-repeat center;
        background-size: 11px;
      }
    }
  }
}

.info-box {
  background: #fff;
  border-radius: 7px;
  padding: 0 25px 10px;
  position: relative;
  width: 270px;
  @include box-shadow;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @media (max-width: 1225px) {
    width: 211px;
  }
  &__slide {
  }
  &__header {
    border-bottom: 1px solid #edeef2;
    padding: 5px;
    font-weight: bold;
    height: 50px;
    position: relative;
    span {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 184px;
  }
  &__item {
    padding: 10px 5px;
    &:not(:last-child) {
      border-bottom: 1px solid #edeef2;
    }
    @media (max-width: 1225px) {
      padding: 10px 0px;
    }
  }
  &__image {
    padding-right: 5px;
    @media (max-width: 1225px) {
      padding-right: 0px;
    }
    img {
      max-width: 100%;
    }
  }
  &__link {
    color: #000;
    font-weight: 300;
  }
  &__rs {
    color: #000;
    font-weight: 500;
    font-size: 13px;
    @media (max-width: 1225px) {
      font-size: 10px;
    }
    &_old {
      margin-left: 5px;
      color: #919191;
      font-weight: normal;
      text-decoration: line-through;
    }
  }
  &__news-title {
    color: $blue;
  }
  &__text-box {
    max-height: 36px;
    overflow: hidden;
    position: relative;
    &:after {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  &__text {
    font-size: 13px;
    margin-bottom: 0;
  }
}