.iphones{
  position: relative;
  margin-top: 62px;
  &__image{
    &_one{
      position: absolute;
      right: -14px;
      top: 57px;
      z-index: 1;
      @media (max-width: 1140px) {
        max-width: 80%;
      }
    }
    &_two{
      position: relative;
      z-index: 2;
      left: 63%;
      @media (max-width: 1140px) {
        max-width: 30%;
      }
    }
    &_tree{
      position: absolute;
      left: 8%;
      bottom: -20%;
      @media (max-width: 1254px) {
        left: -1%;
        bottom: -21%;
      }
      @media (max-width: 1140px) {
        max-width: 80%;
      }
    }
    &_laptop{
      @media (max-width: 767px) {
      display: none;
      }
    }
    &_mobile{
      max-width: 100%;
      width: 100%;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}