.message {
  position: relative;
  margin-bottom: 33px;

  &__title {
    border-bottom: 2px solid #FF9800;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__item-info {
    display: inline-block;
    height: 20px;
    width: 100%;
    padding: 0 20px;
  }

  &__item-rate {
    //float: left;
    width: 105px;
    display: inline-block;
  }

  &__item-author {
    float: right;
    width: auto;
  }


  &__item {
    position: relative;
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 15px;
    text-align: left;
    @media (max-width: 767px) {
      padding: 10px 20px;
    }
    p {
      color: #6B6E7A;
      font-weight: 300;
      font-size: 0.95714rem;
      margin-bottom: 0;
    }


    &_title {
      padding-left: 15px;
      padding-top: 10px;
    }

    &_vinci {
      width: fit-content;
      max-width: 460px;
      @include box-shadow
    }
    &_user {
      float: right;
      position: relative;
      background-color:#c7c6c7;
      color:#FFFFFF;
      p{

      }
    }
    &_compare {
      padding: 0;
      max-width: fit-content;
      overflow-x: auto;
      width: 100%;
    }
    &_view {
      padding: 0 0 20px 20px;
      font-size: 0;
      @media (max-width: 768px) {
        padding: 0 0 10px 10px;
      }
    }
    &_view-full {
      @media (max-width: 767px) {
        width: 350px;
      }
      @media (max-width: 418px) {
        width: 309px;
      }
      @media (max-width: 320px) {
        width: 259px;
      }
      @include box-shadow;
    }

    &_review {
      padding: 20px 20px 10px 20px;
      //float: left;

      box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);

      margin-bottom: 20px;

      width:436px;
      @media (max-width: 1267px) {
        width:calc(((75vw + 10px) - 85px) / 2);
      }
      @media (max-width: 1023px) {
        width:calc((75vw + 10px) - 60px);
      }
      @media (max-width: 991px) {
        width:calc(100vw - 60px);
      }


    }
    &_review-filter{
      padding: 20px;
    }

    &_horizontal {
      display: inline-block;
      margin-bottom: 0;
      padding: 0;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    &_video {
      padding: 30px 30px 15px;
      @media (max-width: 768px) {
        padding: 20px 20px 10px;
        margin-bottom: 15px;
        margin-right: 0 !important;
      }
    }
    &_writing {
      width: 103px !important;
      &:after {
        content: 'Vinci is Typing !';
        color: rgba(107, 110, 122, 0.1);
        font-size: rem(12);
        position: absolute;
        left: 113%;
        width: 90px;
        top: 13px;
      }
    }
    &_specific {
      padding: 0;
      display: inline-block;
      //width: 100%;
      @include box-shadow;
    }

  }
  &_sender {
    text-align: right;
    @include clearfix
  }

  &__overview {
    width: 100%;
    overflow-x: hidden;
  }
  &__not-mobile-horiz {
    @media (max-width: 768px) {
      width: 100% !important;
    }
  }
  &__iframe {
    width: 100%;
    height: 250px;
    @media (max-width: 768px) {
      height: auto;
    }
  }
  &__video-info {
    padding: 20px 20px 0;
    .characteristic__company {
      margin-bottom: 5px;
    }
  }
  &__collection {
    padding: 0;
  }
}

//.user-logo {
//  width: 40px;
//  position: absolute;
//  top: -20px;
//  right: -20px;
//  z-index: 1;
//  @media (max-width: 767px) {
//    width: 35px;
//    right: -15px;
//    top: -15px;
//  }
//}

.vinci-logo {
  width: 40px;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 2;
  @media (max-width: 767px) {
    width: 35px;
    left: -15px;
    top: -15px;
  }
}

.nav-carousel {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 45%;
  z-index: 2;
  width: 100%;
  background: transparent;
  @media (max-width: 767px) {
    //top: 3%;
  }
  & > div {
    width: 50px;
    float: right;
    background: #fff;
    display: block;
    //padding: 30px;
    cursor: pointer;
    position: relative;
    margin-right: 0;
    font-size: 0;

    @media (max-width: 767px) {
      padding: 15px;
    }
    &:after {
      content: '';
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include box-shadow;
      background: #bfbfbf;
      border: 1px solid #F7F7F7;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
      @media (max-width: 767px) {
        width: 30px;
        height: 30px;
      }
    }
    &:first-child {
      width: 50px;
      float: left;
      &:after {
        background: #efefef url($path-to-images + "arrow_prev_dark.svg") center no-repeat;
      }
      &:hover {
        &:after {
          border: 2px solid #E85353;
          background: #efefef url($path-to-images + "arrow_prev_red.svg") center no-repeat;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
        }
      }

    }
    &:last-child {
      &:after {
        background: #efefef url($path-to-images + "arrow_next_dark.svg") center no-repeat;
      }
      &:hover {
        &:after {
          border: 2px solid #E85353;
          background: #efefef url($path-to-images + "arrow_next_red.svg") center no-repeat;
        }
      }
    }
  }
}

.owl-item:hover {
  .message__item {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  }
}

.trending-question {
  width: 220px;
  padding: 20px;
  height: 70px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  background: #94c0ff;
  border-radius: 7px;
  transition: .2s;
  @include box-shadow;
  span {
    transform: translate(-50%, -50%);
    top: 50%;
    color: #fff;
    left: 50%;
    width: 90%;
    text-align: center;
    position: absolute;
  }
  &:hover {
    background: #6eadff;
    transition: .2s;
  }
}