.message {
  position: relative;
  margin-bottom: 33px;
  margin-top: 50px;

  &__title {
    border-bottom: 2px solid #e85352;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 6px;
  }

  &__title-block {
    margin-bottom: 16px;

  }

  &__item-info {
    display: inline-block;
    height: 20px;
    width: 100%;
    padding: 0 20px;
  }

  &__item-rate {
    width: 105px;
    display: inline-block;
  }

  &__item-author {
    float: right;
    width: auto;

    p {
      font-size: 14px;
    }

    @media (max-width: 678px) {
      float: none;
      margin-top: 10px;
    }

    @media (min-width: 1024px) {
      float: none;
      margin-top: 10px;
    }
  }


  &__item {
    position: relative;
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 15px;
    text-align: left;
    @media (max-width: 767px) {
      padding: 10px 20px;
    }
    p {
      color: #6B6E7A;
      font-weight: 300;
      font-size: 0.95714rem;
      margin-bottom: 0;
    }


    &_title {
      padding-left: 15px;
      padding-top: 5px;
    }

    &_vinci {
      width: fit-content;
      max-width: 460px;
      @include box-shadow
    }
    &_user {
      float: right;
      position: relative;
      background-color:#c7c6c7;
      color:#FFFFFF;
      p{

      }
    }
    &_compare {
      padding: 0;
      max-width: fit-content;
      overflow-x: scroll;
      width: 100%;
    }
    &_view {
      padding: 0 0 20px 0;
      font-size: 0;
      @media (max-width: 768px) {
        padding: 0 0 10px 10px;
      }
    }
    &_view-full {
      @media (max-width: 767px) {
        width: 350px;
      }
      @media (max-width: 418px) {
        width: 309px;
      }
      @media (max-width: 320px) {
        width: 259px;
      }
      @include box-shadow;
    }

    &_review {
      padding: 20px 20px 10px 20px;
      //float: left;

      box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);

      margin-bottom: 20px;

      width:436px;

      height: auto;

      @media (max-width: 1267px) {
        width:calc(((75vw + 10px) - 85px) / 2);
      }
      @media (max-width: 1023px) {
        width:calc((75vw + 10px) - 60px);
      }
      @media (max-width: 991px) {
        width:calc(100vw - 60px);
      }


    }
    &_review-filter{
      padding: 20px;
    }

    &_horizontal {
      display: inline-block;
      margin-bottom: 0;
      padding: 0;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    &_video {
      padding: 30px 30px 15px;
      @media (max-width: 768px) {
        padding: 20px 20px 10px;
        margin-bottom: 15px;
        margin-right: 0 !important;
      }
    }
    &_writing {
      width: 103px !important;
      &:after {
        content: 'Vinci is Typing !';
        color: rgba(107, 110, 122, 0.7);
        font-size: rem(13);
        position: absolute;
        left: 113%;
        width: 97px;
        top: 13px;
      }
    }
    &_specific {
      padding: 0;
      display: inline-block;
      //width: 100%;
      @include box-shadow;
    }

  }
  &_sender {
    text-align: right;
    @include clearfix
  }

  &__overview {
    width: 100%;
    overflow-x: hidden;
  }
  &__not-mobile-horiz {
    margin-top: 50px;
    @media (max-width: 768px) {
      width: 100% !important;
    }
  }
  &__iframe {
    width: 100%;
    height: 250px;
    @media (max-width: 768px) {
      height: auto;
    }
  }
  &__video-info {
    padding: 20px 20px 0;
    .characteristic__company {
      margin-bottom: 5px;
    }
  }
  &__collection {
    padding: 0;
  }
}

//.user-logo {
//  width: 40px;
//  position: absolute;
//  top: -20px;
//  right: -20px;
//  z-index: 1;
//  @media (max-width: 767px) {
//    width: 35px;
//    right: -15px;
//    top: -15px;
//  }
//}

.vinci-logo {
  width: 40px;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 2;
  @media (max-width: 767px) {
    width: 35px;
    left: -15px;
    top: -15px;
  }
}

.nav-carousel {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: -25px;
  z-index: 2;
  width: 34px;
  background: transparent;
  @media (max-width: 767px) {
    //top: 3%;
  }
  & > div {
    width: 50px;
    float: right;
    //background: #fff;
    display: block;
    //padding: 30px;
    cursor: pointer;
    position: relative;
    margin-right: 0;
    font-size: 0;

    &:after {
      content: '';
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      //@include box-shadow;
      background: #bfbfbf;
      border: 2px solid #b0b0b0;
      //box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
      //@media (max-width: 767px) {
      //  width: 30px;
      //  height: 30px;
      //}
    }
    &:first-child {
      right: 36px;
      //float: left;
      &:after {
        background: transparent url($path-to-images + "arrow_prev_dark.svg") center no-repeat;
      }
      &:hover {
        &:after {
          border: 2px solid #E85353;
          background: transparent url($path-to-images + "arrow_prev_red.svg") center no-repeat;
          //box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
        }
      }

    }
    &:last-child {
      &:after {
        background: transparent url($path-to-images + "arrow_next_dark.svg") center no-repeat;
      }
      &:hover {
        &:after {
          border: 2px solid #E85353;
          background: transparent url($path-to-images + "arrow_next_red.svg") center no-repeat;
        }
      }
    }
  }
}

.owl-item:hover {
  .message__item {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  }
}

.view_product__button {
  position: absolute;
  z-index: 1000;
  margin-left: 24%;
  margin-top: 13%;
  display: none!important;
}

.view_product {
  cursor: pointer;

  &:hover {
    background-color: grey;
    opacity: 0.8;

    .category__image {
      opacity: 0.2;
    }
    .facebook-status {
      opacity: 0.2;
    }

    .view_product__button {
      display: block!important;
    }
  }
}
