.specific {
  padding: 0;
  border-radius: 10px;
  font-size: 0;
  max-width: 640px;
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap-reverse;

  &__item {
    padding: 30px 15px;
    width: calc(100% / 3);
    border: 1px solid #FAFBFC;
    @media (max-width: 768px) {
      width: calc(100% / 2);
    }
    @media (max-width: 450px) {
      width: 100%;
      padding: 10px;
    }
  }
  &__icon {
    background: #e85352;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    i {
      font-size: 19px;
      color: #fff;
      line-height: 27px;

    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__info {
    display: inline-block;
    width: calc(100% - 28px);
    vertical-align: top;
    padding-left: 10px;
  }
  &__title {
    color: #6B6E7A;
    font-size: rem(12);
    font-weight: 300;
  }
  &__value {
    font-size: 1.3rem;
    color: #6B6E7A;
    font-weight: 300;
    @media (max-width: 450px) {
      font-size: rem(14);
    }
  }
}