.view {
  &__photo {
    text-align: center;
    position: relative;
    img {
      display: block;
      margin: auto;
      height: 130px;
    }
  }
  &__button {
    position: relative;
    top: -20px;
    padding: 9px 25px;
  }

  &__description {
    border-bottom: 1px solid #F6F7F9;
    width: 400px;
    padding: 20px;
    @media (max-width: 767px) {
      width: 100%;
      padding-right: 10px;
    }
    @media (min-width: 849px) {
      width: 430px;
      padding-right: 10px;
    }
    @media (min-width: 1240px) {
      width: 500px;
      padding-right: 10px;
    }

  }
  &__features {

    padding: 20px;
    border-bottom: 1px solid #F6F7F9;
    //@media (max-width: 767px) {
    //  width: 91%;
    //}
  }
  &__reviews {
    padding: 20px;
  }

  &__comparison {
    padding: 20px;
    border-bottom: 1px solid #F6F7F9;
  }

  &__video-reviews {
    padding: 20px;
    border-bottom: 1px solid #F6F7F9;
  }

  &__share {
    //margin-top: 35px;
    padding: 20px;
  }

  &__features-items {
    list-style-position: inside;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    list-style-type: decimal;
    //height: 120px;
    margin-top: 22px;
    @media (max-width: 767px) {
      //height: 157px;
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }
  }
  &__features-item{
    margin-bottom: 10px;

    span{
      margin-left: 8px;
      font-size: 13px;
    }
  }

  &__inline {
    position: relative;
    @media (min-width: 768px) {
      display: inline-block;
      width: 220px;
      &:last-child {
        width: 180px;
      }
    }
    @media (min-width: 849px) {
      width: 250px;
    }
    @media (min-width: 1039px) {
      width: 260px;
      &:nth-child(2) {
        width: 230px;
      }
    }
    @media (min-width: 1240px) {
      width: 290px;
      &:nth-child(2) {
        width: 330px;
      }
      &:last-child {
        width: 220px;
      }
    }
  }
  &__col {
    padding: 15px 10px;
    vertical-align: top;
    &:first-child {
      border-right: 1px solid #F4F7F9;
    }
    &_3 {
      @media (min-width: 768px) {
        padding: 15px 10px;
        width: calc(100% / 3);
        display: inline-block;
      }
    }
    &_2 {
      @media (min-width: 768px) {
        padding: 15px 10px;
        width: 50%;
        display: inline-block;
      }
    }
    &_hidden {
      display: none;
    }

  }
  &__prices {
    overflow-y: hidden;
    padding: 15px 0;
    @media (min-width: 768px) {
      border-left: 1px solid #F4F7F9;
    }
  }
  &__info {
    //width: 300px;
  }
  &__info-full {
    //width: 300px;
    font-size: rem(12);
    padding: 15px 0;
    overflow-y: hidden;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.video-reviews__button {
  width: 47%;
  background-color: #fff;
  position: relative;
  transition: all .2s ease-in-out;
  margin-top: 20px;
  border: 2px solid #F6F7F9;
  &:hover {
    background-color: #E54949;
    span{
      color: #fff;
    }
  }

  span {
    color:red;
  }
}
.video-reviews__button-two {
  float: right;
}

.block-reviews {
  padding: 10px;
  width: 430px;
  border-bottom: 1px solid #F6F7F9;
  @media (min-width: 1240px) {
    width: 500px;
  }
  @media (max-width: 767px) {
    width: 328px;
  }
  @media (max-width: 418px) {
    width: 276px;
  }
}

.reviews__item {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  padding: 15px 30px;
  border: 1px solid #F6F7F9;
  border-radius: 4px;
}
.hide-all-details {
  display: none;
}

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  //background-color: #212121;
  //height: 20px;
  background-color: #9c9c9c;
}

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #E9E9E9;
}

.mCSB_container {
  width: 97%;
}


.share__button {
  display: inline-block;
  padding: 10px 0 10px 10px;
  margin-right: 2%;
  width: 25%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  border: 2px solid #F6F7F9;
  background-color: #fff;
  @media (max-width: 767px) {
    display: block;
    margin-top: 20px;
  }
}

.button-facebook {
  width: 38%;
  background-image: url('../assets/images/facebook-icon.svg');
  background-position: 19px 11px;
  background-repeat: no-repeat;
  background-size: 8px;
  color: #3B5998;
  @media (max-width: 1239px) {
    width: 42%;
    background-position: 13px 11px;
  }
  @media (max-width: 767px) {
    width: 58%;
    background-position: 13px 11px;
  }
  @media (max-width: 419px) {
    width: 66%;
  }
  &:hover {
    color: #fff;
    background-color: #3B5998;
    background-image: url('../assets/images/facebook-white.svg');
  }
}
.button-tweet {
  background-image: url('../assets/images/tweet-icon.svg');
  background-position: 15px 14px;
  background-repeat: no-repeat;
  background-size: 13px;
  color: #00ACED;
  @media (max-width: 419px) {
    width: 43%;
  }
  @media (max-width: 767px) {
    width: 36%
  }
  @media (min-width: 1240px) {
    width: 25%;
    background-position: 21px 13px;
  }
  &:hover {
    background-color: #00ACED;
    color: #fff;
    background-image: url('../assets/images/tweet-white.svg');
  }
}
.button-whatsapp {
  width: 27%;
  background-image: url('../assets/images/whatsapp-icon.svg');
  background-position: 11px 11px;
  background-repeat: no-repeat;
  background-size: 13px;
  color: #25D366;
  @media (max-width: 767px) {
    width: 40%
  }
  @media (max-width: 419px) {
    width: 47%;
  }
  @media (min-width: 1240px) {
    background-position: 19px 11px;
  }
  &:hover {
    background-color: #25D366;
    color: #fff;
    background-image: url('../assets/images/whatsapp-white.svg');
  }
}

.flex-container {
  border-bottom: 1px solid #F6F7F9;
  padding-left: 10px;
  @media (min-width: 768px) {
    display: flex;
    max-height: 500px;
  }
}


.price {
  width: 100%;
  position: relative;
  @include box-shadow;
  border-radius: 4px;
  border: 1px solid #F6F7F9;
  margin-bottom: 20px;
  &__header {
    text-align: center;
    border-bottom: 1px solid #F6F7F9;
    height: 38px;
    position: relative;
    img {
      position: absolute;
      height: 16px;
      margin: auto;
      top: 10px;
    }
    &_best {
      text-align: right;
    }
  }
  &__header-reviews {
    border-bottom: none;
  }
  &__best {
    color: #616161;
    text-align: left;
    font-size: 14px;
    &:before {
      content: url($path-to-images + 'star.svg');
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
      @media (min-width: 768px) {
        margin: 11px 4px 9px 9px;
      }
    }
    @media (max-width: 767px) {
      font-size: 0;
    }

    span {
      position:relative;
      top: 0;
      @media (max-width: 767px) {
        top: 13px;
        font-size: 0;
      }
    }
  }
  &__body {
    text-align: center;
    font-size: rem(14);
    font-weight: 500;
    padding: 9px 10px;
    position: relative;
    @media (max-width: 450px) {
      padding: 5px 5px;
      font-size: rem(12);
    }
  }
  &__rs {
    color: #616161;
  }
  &__num {
    color: #212121;
  }
  @media (max-width: 767px) {
    width: calc(50% - 5px);
    margin-right: 5px;
    margin-bottom: 10px;
    &:nth-child(2n) {
      margin-right: 0;
      margin-left: 5px;
    }
    display: inline-block;
  }
  @media (max-width: 768px) {
    &:nth-child(1), &:nth-child(2) {
      .more-info__block {
        bottom: auto;
        top: -75px;
      }
    }
  }
}

.more-info {
  display: block;
  position: relative;
  &:hover {
    .more-info__block {
      display: block;
    }
  }
  &__btn {
    z-index: 4;
    position: relative;
    display: block;
    float: right;
    margin-top: -22px;
    @media (max-width: 450px) {
      margin-top: -18px;
      img {
        opacity: .4;
      }
    }
  }
  &__block {
    position: absolute;
    left: -11px;
    z-index: 1;
    text-align: left;
    border-radius: 4px;
    background: #fff;
    width: 206px;
    border: 1px solid #F6F7F9;
    @include box-shadow;
    display: none;
    @media (max-width: 450px) {
      width: 114px;
    }
    @media (min-width: 768px) {
      top: -77px;
    }
    @media (max-width: 767px) {
      width: 150px;
      left: -10px;
    }
  }
  &__part {
    padding: 10px 20px;
    &:not(:last-child) {
      border-bottom: 1px solid #F6F7F9;
    }
    @media (max-width: 767px) {
      padding: 5px 7px;
    }
    h4 {
      color: #B0B0B0;
      font-size: rem(12);
      font-weight: 300;
      @media (max-width: 450px) {
        font-size: rem(10);
      }
    }
    h5 {
      color: #616161;
      font-size: rem(12);
      font-weight: 300;
      @media (max-width: 450px) {
        font-size: rem(10);
      }
    }
  }

}

.closeTopRight{
  position:relative;
}
.closeTopRight:after{
  position:absolute;
  right: -10px;
  top: -10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  content:'x';
  height:20px;
  width:20px;
  border-radius:10px;
  text-align: center;
}

.view__info-helper {
  width: auto;
  text-align: center;
  padding: 10px 20px;
  left: auto;
  right: 4%;
  top: -34px;
  span {
    font-size: .85714rem;
  }
}

.part-title {
  color: #616161;
  font-weight: 400;
  margin-bottom: 15px;
  font-size: rem(14);
  text-align: center;
}


.comparison {

  &__item {
  font-size: .85714rem;
  border: 2px solid #F6F7F9;
  border-radius: 7px;
  padding: 10px 16px;
  background: #fff;
  color: #000;
  margin-left: 10px;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  display: inline-block;
    @media (max-width: 419px) {
      display: block;
      width: 50%;
      margin-bottom: 15px;
    }
  }

  &__block {
  margin-top: 20px;
    span {
      font-size: 12px;
    }
  }

  &__selection {
    margin-top: 20px;
  }
}

.go-button {
  float: right;
  font-size: .85714rem;
  border-radius: 35px;
  padding: 12px 40px;
  background: #fff;
  color: #e85352!important;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  border: 2px solid #F6F7F9;

  @media (max-width: 767px) {
    display: block;
    float: none;
    width: 60%;
    margin: 10px auto;
  }

  &:hover {
    background-color: #E54949;
    span{
      color: #fff;
    }
  }
  span {
    font-size: 14px;
  }
}
//.reviews {
//  margin-top: 22px;
//}

.reviews .nav-carousel.disabled {
  top: 49%;
  width: 100%;

}
.reviews .nav-carousel {

  & > div {
    &:first-child {
      right: 0;
      float: left;
      left: -15px;
    }
  }
}


  .reviews.owl-carousel .owl-stage-outer .owl-stage .owl-item.active {
    margin-right: 0!important;
  }
  //
  //.view__reviews .nav-carousel.disabled .h.disabled{
  //  right: 339px;
  //  //top: 35px;
  //  display: inline-block;
  //  @media (max-width: 767px) {
  //    right: 304px;
  //  }
  //
  //}
  //
  //.view__reviews .nav-carousel.disabled .e.disabled{
  //  display: inline-block;
  //  left: 25px;
  //}
  //
  //.view__reviews .owl-stage-outer {
  //  margin-left: 45px;
  //}
  //
  //.reviews .owl-stage{
  //  width: 431px!important

  //}


  .all-details-shown .view__description,.all-details-shown .block-reviews{ width:282px;}
  .view__description,.block-reviews {width:282px;}

  @media all and (min-width:419px){
    .all-details-shown .view__description,.all-details-shown .block-reviews{ width:323px;}
    .view__description,.block-reviews {width:323px;}
  }

  @media all and (min-width:768px){
    .all-details-shown .view__description,.all-details-shown .block-reviews{ width:630px;}
    .view__description,.block-reviews {width:418px;}
  }

  @media all and (min-width:848px){
    .all-details-shown .view__descriptio,.all-details-shown .block-reviews{ width:690px;}
    .view__description,.block-reviews {width:427px;}
  }

  @media all and (min-width:1038px){
    .all-details-shown .view__description,.all-details-shown .block-reviews{ width:677px;}
    .view__description,.block-reviews {width:438px;}
  }

  @media all and (min-width:1240px){
    .all-details-shown .view__description,.all-details-shown .block-reviews{ width:845px;}
    .view__description,.block-reviews {width:514px;}
  }
